<main>
  <div class="header">
    <div class="header__txt">
      <h1>WELCOME GENTELMANS</h1>
    </div>
  </div>

  <div class="about">
    <div class="about__items">
      <div>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/barbershopws-9cd99.appspot.com/o/homePage%2Fprofile_barber.webp?alt=media&token=1dc4a1fb-409b-447a-a528-d3d80a97b233"
          alt="barber cuting hair"
        />
      </div>
      <div>
        <h2>Real Mans</h2>
        <h3>Cuting hair to Real Gentlemans</h3>
      </div>
    </div>
  </div>
</main>
